.todoist-review-container {
    margin-bottom: 1em;
}

.todoist-review-text {
    margin-bottom: 0.5em;
}

.todoist-review-button {
    margin-right: 1.5em;
}

.todoist-review-active-button {
    background-color: var("--color-accent");
}